body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 100, 0);
    text-indent: 20px;
    background-color: lightblue;
}
h2{
    color: rgba(5, 150, 5, 0.5);
    color: hsl(hue, saturation, lightness);
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 30px;
    text-decoration: underline;
    text-align: center;
    
}

p {
   
    color: red;
    font-size: medium;
    line-height: 50px;
}

p+p{
    color: blue;}

    /* .extra-info::before {
        display: block;
        content: 'Sprawdzanie befora.. ';
        color: darkblue;
        font-weight: 700;
    } */
    
    .extra-info::after {
        display: block;
        content: ' koniec ciekawostki ';
    }

    .extra-info::first-letter{
        color: blue;
        font-size: xx-large;
    }