.mainHomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.aboutme {
    margin: 20px;
    text-align: center;
    position: relative;
}
.aboutme::before {
    content: "";
    position: absolute;
    top: 95px;
    left: 35%;
    right: 35%;
    height: 2px;
    background-color: lightblue;
    text-shadow: 1px 1px 20px black;
}
.h2 {
    letter-spacing: 1px;
    margin-bottom: 0;
}
.h5 {
    margin-top: 0;
    text-transform: uppercase;
    color: lightblue;
    letter-spacing: 3px;
    text-shadow: 1px 1px 20px black;
}
.p {
    margin-top: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
}
.a {
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    background: black;
    width: 120px;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
    color: lightblue;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: 1px 5px 10px #000000b8;
    font-size: small;
    letter-spacing: 3px;
    cursor: pointer;
}
.a:hover {
    background: rgba(0, 0, 0, 0.756);
}
.imageProfile {
    margin: 0 25px;
}

@media screen and (max-width: 800px) {
    .mainHomePage {
        flex-direction: column;
    }
    .aboutme {
        order: 1;
        margin: 20px;
    }
    .imageProfile {
        margin: 20px;
        order: 0;
    }
}
