body{
    margin: 100px;
}
.status{
    width: 100px;
    height: 10px;
    background-color: lightgrey;
    border: 1px solid black;
    background-image: linear-gradient(90deg, rgba(3,107,34,1) 0%, rgba(0,0,0,0.7401229046306023) 0%);
    
}
.status--animated{
    background-color: green;
}
#make-dought{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black ;
    width: 100px;
    height: 40px;
}