@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Rubik:wght@300&display=swap");

* {
    font-family: "Mukta", sans-serif;
}
body {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        5deg,
        rgba(0, 0, 0, 1) 30%,
        rgba(68, 203, 205, 1) 100%
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-family: "Mukta", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./img/tlo.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
}
.nav {
    margin: 60px;
    align-items: center;
    text-align: center;
}
.name {
    display: block;
}
.role {
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-size: small;
    color: lightblue;
    letter-spacing: 3px;
    text-shadow: 1px 1px 20px black;
}
.introduce {
    line-height: 3px;
    margin: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.introduce::after {
    content: "";
    position: absolute;
    width: 8rem;
    left: calc(50% - 4rem);
    bottom: -20px;
    height: 2px;
    background-color: lightblue;
}
.describe-me {
    margin: 30px 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: small;
}
.about-me {
    margin-bottom: -10px;
}
.my-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 4px 10px black;
}
.buttons-nav {
    display: flex;
    margin-top: -10px;
    justify-content: center;
}

.buttons {
    width: 100px;
    padding: 10px;
    margin: 15px;
    border: 0;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: lightblue;
    display: inline-block;
    font-family: "Mukta", sans-serif;
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 3px;
    box-shadow: 1px 4px 10px black;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1, 1);
}
.buttons:hover {
    transform: scale(1.1, 1.1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(0, 0, 0);
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: lightblue;
    font-weight: 600;
}

.informations {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.895);
    border-radius: 50px;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: 2px 4px 10px black;
}

.contacts {
    overflow: hidden;
    position: relative;
    transition: all 1.4s cubic-bezier(0.27, 1.4, 0.33, 1.55);
    height: 0px;
}
.cubic {
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-about,
.btn-projects {
    display: flex;
    justify-content: center;
}
.xyz {
    border: 2px solid black;
    width: 130px;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    list-style-type: none;
    background-color: rgba(173, 216, 230, 0.916);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 4px 10px black;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1, 1);
}

span {
    margin-left: 10px;
}
.xyz:hover {
    transform: scale(1.1, 1.1);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: lightblue;
}

button {
    font-family: "Mukta", sans-serif;
}

.hideInfo {
    height: 370px;
    position: relative;
    margin-top: -430px;
    margin-bottom: 0px;
}
.about-me-buttons {
    color: black;
}
@media screen and (max-width: 800px) {
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 1280px;
    }
    .my-pic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        box-shadow: 2px 4px 10px black;
        order: 0;
    }
    .nav {
        margin: 60px;
        align-items: center;
        text-align: center;
        order: 1;
    }
    .role {
        width: max-content;
    }
    .my-pic {
        width: 200px;
        height: 200px;
    }
}
