@import url("https://fonts.googleapis.com/css2?family=Mukta&family=Rubik:wght@300&display=swap");
body {
    margin: 0px;
    font-family: "Mukta", sans-serif;

    background: linear-gradient(
        5deg,
        rgba(0, 0, 0, 1) 30%,
        rgba(68, 203, 205, 1) 100%
    );
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body::before {
    opacity: 0.6;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./icons/tlo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
