.mainWindow {
    position: absolute;
    top: 60px;
    margin: 20px;
    max-width: 960px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.808);
    padding: 40px;
    color: lightblue;
}
.title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.vidAndAbout {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.vidAndAbout::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 35%;
    right: 35%;
    height: 2px;
    background-color: lightblue;
    text-shadow: 1px 1px 20px black;
}
.vidAndAbout::after {
    content: "";
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: -40px;
    height: 2px;
    background-color: lightblue;
    text-shadow: 1px 1px 20px black;
}

.vidAndAbout > * {
    margin: 0 20px;
}
.video {
    border-radius: 10px;
    border: 2px solid lightblue;
    width: auto;
    height: 200px;
}
.projectDescribe {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    max-width: 450px;
}
.projectDescribeTitle {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.projectDescribeContent {
    justify-content: center;
    word-spacing: 2px;
    text-align: justify;
}
.a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 20px auto;
}
.a > * {
    display: inline-block;
    color: lightblue;
}
.a > img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
.a > p {
    font-weight: 600;
    margin: 0;
}
@media screen and (max-width: 800px) {
    .mainWindow {
        padding: 20px;
    }
    .vidAndAbout {
        flex-direction: column;
        margin: 10px;
        margin-bottom: 40px;
    }
    .projectDescribe {
        margin-top: 40px;
        margin-bottom: 25px;
        order: 0;
    }
    .title {
        font-size: large;
        margin: 20px;
    }
    .video {
        width: 250px;
        height: 150px;
        order: 1;
    }
    .projectDescribeTitle {
        margin: 0 auto;
        font-size: medium;
    }
    .vidAndAbout::before {
        top: 4px;
        left: 30%;
        right: 30%;
        height: 2px;
    }
    .vidAndAbout::after {
        bottom: -30px;
        left: 30%;
        right: 30%;
        height: 2px;
    }
}
